---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: photoprism
resources:
  - namespace.yaml
  - secrets.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - route.yaml

