# talos config
config/quantum-talos/worker.yaml
config/quantum-talos/controlplane.yaml
config/quantum-talos/cluster-config.yaml
config/quantum-talos/cluster-secrets.yaml

config/cilium/cillium.yaml
**/talosconfig
**/kubeconfig

# age key for sops
age.key

# binaries
bin/