# talos config
config/quantum-talos/worker.yaml
config/quantum-talos/controlplane.yaml
config/quantum-talos/cluster-config.yaml
config/quantum-talos/cluster-secrets.yaml

config/cilium/cilium.yaml
**/talosconfig
**/kubeconfig

# age key for sops
age.key

# binaries
bin/

# opentofu / terraform
config/opentofu/.terraform/
config/opentofu/.terraform.lock.hcl
config/opentofu/terraform.tfvars
config/opentofu/terraform.tfstate
config/opentofu/terraform.tfstate.backup
config/opentofu/terraform.tfvars.backend
config/opentofu/*.tfplan