---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
    "lbipam.cilium.io/sharing-key": "internal-traffic"
  name: tls-gateway
  namespace: gateway
  labels:
    color: blue
spec:
  gatewayClassName: cilium
  infrastructure:
    labels:
      color: blue
  listeners:
  - name: https-listener
    protocol: HTTPS
    port: 443
    hostname: "*.internal.${DOMAIN}"
    tls:
      certificateRefs:
      - kind: Secret
        name: secret-quantum-cert
        namespace: gateway
    allowedRoutes:
      namespaces:
        from: All
