[Unit]
Description=Renews any certificates that need them renewed
Requires=certbot.service

[Timer]
Unit=certbot.service
OnCalendar=weekly

[Install]
WantedBy=timers.target